<!-- Required in the security-domains 
     Must be after the "other" security domain for some reason -->
 
<security-domain name="MathtabolismRealm" cache-type="default">
    <authentication>
        <login-module code="Database" flag="required">
            <module-option name="dsJndiName" value="java:jboss/datasources/MathtabolismDS"/>
            <module-option name="principalsQuery" value="select password from account where username=?"/>
            <module-option name="rolesQuery" value="select role, 'Roles' from account where username=?"/>
        </login-module>
    </authentication>
</security-domain>


<!-- In datasources
     Change to your config -->
<datasource jndi-name="java:jboss/datasources/MathtabolismDS" pool-name="MathtabolismDS" enabled="true" use-java-context="true">
    <connection-url>jdbc:oracle:thin:@localhost:1521:orcl</connection-url>
    <driver>ojdbc6</driver>
    <security>
        <user-name>wildfly</user-name>
        <password>abcd1234</password>
    </security>
</datasource>