@import "modules/colors";
@import "partials/master";

.step-controls .error-message li,
.nl-form ol.steps,
.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.final-message,
.nl-form {
  width: 100%;
  font-size: 3em;
  line-height: 1.5em;
}

/* Natural language form wrapping */
.nl-form {
  .checkbox input[type="checkbox"] {
		width: 0.75em;
		height: 0.75em;
  }
  
  input[type="text"] {
		border: none;
		border-bottom: 2px solid $orange;
		padding: 0;
		margin: 0 0.3em;
		text-align: right;
		font-weight: initial;
		
		&:focus {
    	outline: none;
		}
	}
	
	.date {
		max-width: 260px;
	}
  .age {
		max-width: 60px;
	}
	
	.height {
	  max-width: 80px;
	}

  .weight {
		min-width: 100px;
		max-width: 150px;
	}
	
	input[type="text"]:focus {
		outline: none;
	}
	
	ol.steps {
	  position: relative;
	  
	  @include transition(height 0.4s);
	  
	  & > li {
	    position: relative;
	    visibility: hidden;
	    height: 0;
	    
	    @include transition(visibility 0s 0.4s, height 0s 0.4s);
	  }
	  
	  li.current {
	    visibility: visible;
	    height: auto;
	    
	    @include transition(none);
	  }
	}
	
	.form-field {
	  display: inline-block;
	  position: relative;
	  
	  &.form-field-open {
	    z-index: 10000;
	    
	    ul {
	      visibility: visible;
	      opacity: 1;
	      
	      @include transform(translateY(-50%), scale(1));
	      @include transition-transform(visibility 0 0, opacity 0.3s, 0.3s);
	    }
	  }
	  
	  
	  /* form field dropdown */
	  &.form-field-dd {
	    ul li {
	      padding: 0 1.5em 0 .5em;
	      cursor: pointer;
	      white-space: nowrap;
	      
	      &:hover {
	        background: rgba(0, 0, 0, 0.05);
	      }
	      
	      &:hover:active,
	      &.dd-selected {
	        color: $navy-green;
	      }
	    }
	  }
	  
	  ul {
	    position: absolute;
	    visibility: hidden;
	    background: $aqua;
	    left: -0.5em;
	    top: 50%;
	    font-size: 80%;
	    opacity: 0;
	    
	    @include transform(translateY(-40%), scale(0.9));
	    @include transition-transform(visibility 0s 0.3s, opacity 0.3s, 0.3s);
	    
	    &.small {
	      line-height: initial;
	      font-size: 50%;
	      
	      li.dd-selected:before {
	        line-height: 2.2;
	        right: 1.5em;
	      }
	    }
	    
	    li {
	      color: #fff;
	      position: relative;
	    }
	  }
	}
	
	input[type="text"],
	.form-field-toggle {
	  line-height: inherit;
	  display: inline-block;
	  color: $orange;
	  border-bottom: 2px solid $orange;
	  
	  &:focus,
	  &:hover {
	    color: $black;
	    border-bottom-color: $black;
	  }
	}
	
	.form-field-toggle {
	  cursor: pointer;
	}
	
	.controls {
	  margin-top: 0.8em;
	  width: 100%;
	  text-align: center;
	  font-size: initial;
	  
	  input[type="button"],
	  input[type="submit"],
	  button {
	    margin: 0.8em 3em;
	    display: inline-block;
	    min-width: 140px;
	    max-width: 140px;
	  }
	}
}

.form-field-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	z-index: 9999;
	visibility: hidden;
	
	@include transition(visibility 0 0.3s, opacity 0.3s);
	
	&.open {
	  opacity: 1;
	  visibility: visible;
	  @include delay(0);
	}
}

/* Natural Language Stepping controls */
.step-controls {
	font-size: 1.2em;
	
	.progress,
	.number {
	  line-height: initial;
	}
	
	.number {
	  position: absolute;
	  right: 0;
	  overflow: hidden;
	  margin: 0.4em 0;
	  width: 3em;
	  font-weight: 700;
	  
	  &:after {
	    position: absolute;
	    left: 50%;
	    content: '/';
	    opacity: 0.4;
	    
	    @include transform(translateX(-50%));
	  }
	  
	  span {
	    float: right;
	    width: 40%;
	    text-align: center;
	  }
	  
	  .number-current {
	    float: left;
	  }
	}
	
	.progress {
	  width: 0%;
	  height: 0.5em;
	  background: rgba(0, 0, 0, 0.3);
	  
	  @include transition(width 0.4s ease-in-out);
	  
	  &::before {
	    position: absolute;
	    left: 0;
	    top: auto;
	    width: 100%;
	    height: inherit;
	    background: rgba(0, 0, 0, 0.05);
	    content: '';
	  }
	}
    
  ul.error-message {
    padding: 0.4em 3.5em 0 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    display: table-cell;
  }
}