$blue: #0074d9;
$light-blue: #3390e1;
$teal: #7fdbff;
$green: #2ecc40;
$lime: #01ff70;
$orange: #ff8518;
$red: #ff4136;
$navy: #001f3f;
$fuchsia: #f102be;
$purple: #b10dc9;
$white: #f9f6e5;
$black: #000;

$primary-color: $blue;
$primary-compliment-color: $orange;

$secondary-color: $green;
$secondary-compliment-color: $red;
