/* Remove the chrome auto-fill yellow color.. Sets it to white. */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.error {
  font-style: italic;
  display: none;
  opacity: 0;
  font-size: 1.2em;
}

.error.visible {
  display: inherit;
  opacity: 1;
}

.content form {
  padding: 10px 30px;
}

form input {
  font-size: 1em;
}

form .one-line {
  width: 100%;
}

form table {
  width: 100%;
  border-spacing: 0;
}

form.one-line input,
form.one-line button {
  width: 100%;
}

label {
  display: block;
  padding: 10px 0 0;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.dropdown-container .displayed,
.dropdown-container ul,
input[type="text"],
input[type="password"] {
  padding: 0.3em;
  border: 2px solid #f012be;
  background: transparent;
  font-weight: 300;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.dropdown-container .displayed:hover,
.dropdown-container .displayed:focus,
.dropdown-container li:hover,
.dropdown-container li:focus,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
  border-color: #85144B;
  color: #e75854;
}

.dropdown-container,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  cursor: pointer;
}

input[type="submit"],
input[type="button"],
button {
  display: block;
  margin-top: 2.5em;
  padding: 1.0em;
  border: none;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

input[type="submit"] {
  background: #2ecc40;
}

input[type="submit"]:hover {
  background: #01ff70;
}

button,
input[type="button"] {
  background: #0074d9;
}

button:hover,
input[type="button"]:hover {
  background: #3390E1;
}

.dropdown-container input[type="text"] {
  border: 0;
  padding: 0;
}

.dropdown-container .displayed {
  width: 100%;
}

.dropdown-container .caret {
  float: right;
  margin-top: 0.3em;
}

.dropdown-container .displayed div {
  display: inline-block;
}

.dropdown-container li:hover {
  color: #ffffff;
  background: #0081c2;
}

.dropdown-container ul {
  position: absolute;
  margin: 0.2em auto;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
}

.dropdown-container li {
  padding: 0 0.5em 0 0.5em;
  margin: 0;
  line-height: 1.5em;
  font-size: 1.1em;
}


/* login form stuff */
.container {
  display: block;
  position: relative;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
}

.account-form {
  text-align: left;
}

.account-form h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
}

.account-form form span.error {
  margin-left: 12.5%;
}

.account-form form div > div {
  display: inline-block;
}

/*
 * We want the form data to be 30% of the entire page. Since the
 * flipper section is 40%, 75% of the 40% would be the 30%..
 */
.account-form form div div:nth-child(2) {
  width: 75%;
}

/* Just the remaining 25% / 2 */
.account-form form div div:nth-child(odd) {
  width: 12.5%;
}

.account-form form p {
  margin: 0 0 5px 0;
  font-size: 0.9em;
}

.account-form input[type="text"],
.account-form input[type="password"] {
  font-weight: 300;
  font-size: 2.2em;
}

.account-form input[type="submit"],
.account-form button {
  padding: 1.5em;
  font-weight: 800;
  font-size: 1.25em;
}

/*
 * Override annoying primefaces shit
 */
form .ui-widget {
  font-size: inherit;
}