.content form {
  padding: 10px 30px;
}

form input,
form select {
  font-size: 1em;
}

form .one-line {
  width: 100%;
}

form table {
  width: 100%;
  border-spacing: 0;
}

form.one-line input,
form.one-line select,
form.one-line button {
  width: 100%;
}

label {
  display: block;
  padding: 10px 0 0;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
  padding: 10px;
  border: 2px solid #f012be;
  background: transparent;
  font-weight: 300;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
  border-color: #85144B;
  color: #e75854;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  cursor: pointer;
}

input[type="submit"],
input[type="button"],
button {
  display: block;
  margin-top: 2.5em;
  padding: 1.0em;
  border: none;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

input[type="submit"] {
  background: #2ecc40;
}

input[type="submit"]:hover {
  background: #01ff70;
}

button,
input[type="button"] {
  background: #0074d9;
}

button:hover,
input[type="button"]:hover {
  background: #3390E1;
}

select {
  padding: 0.6em;
  background-color: #7fdbff;
  outline: none;
}

select:hover,
select:focus {
  border-color: #85144B;
}

/* login form stuff */
.container {
  display: block;
  position: relative;
  width: 30%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
}

.account-form {
  text-align: left;
}

.account-form h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
}

.account-form form p {
  margin: 0 0 5px 0;
  font-size: 0.9em;
}

.account-form input[type="text"],
.account-form input[type="password"] {
  font-weight: 300;
  font-size: 2.2em;
}

.account-form input[type="submit"],
.account-form button {
  padding: 1.5em;
  font-weight: 800;
  font-size: 1.25em;
}

/*
 * Override annoying primefaces shit
 */
form .ui-widget {
  font-size: inherit;
}