

/* Remove the chrome auto-fill yellow color.. Sets it to white. */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.error {
  font-style: italic;
  display: none;
  opacity: 0;
  font-size: 1.2em;
}

.error.visible {
  display: inherit;
  opacity: 1;
}

form input {
  font-size: 1em;
}

form .one-line {
  width: 100%;
}

form table {
  width: 100%;
  border-spacing: 0;
}

form.one-line input,
form.one-line button {
  width: 100%;
}

label {
  display: block;
  padding: 10px 0 0;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.dropdown-container .displayed,
.dropdown-container ul,
input[type="text"],
input[type="password"] {
  padding: 0.3em;
  border: 2px solid #f012be;
  background: transparent;
  font-weight: 300;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.dropdown-container .displayed:hover,
.dropdown-container .displayed:focus,
.dropdown-container li:hover,
.dropdown-container li:focus,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
  border-color: #85144B;
  color: #e75854;
}

.dropdown-container,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  cursor: pointer;
}

input[type="submit"],
input[type="button"],
button {
  display: block;
  margin-top: 2.5em;
  padding: 1.0em;
  border: none;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

input[type="submit"] {
  background: #2ecc40;
}

input[type="submit"]:hover {
  background: #01ff70;
}

button,
input[type="button"] {
  background: #0074d9;
}

button:hover,
input[type="button"]:hover {
  background: #3390E1;
}

.dropdown-container input[type="text"] {
  border: 0;
  padding: 0;
}

.dropdown-container .displayed {
  width: 100%;
}

.dropdown-container .caret {
  float: right;
  margin-top: 0.3em;
}

.dropdown-container .displayed div {
  display: inline-block;
}

.dropdown-container li:hover {
  color: #ffffff;
  background: #0081c2;
}

.dropdown-container ul {
  position: absolute;
  margin: 0.2em auto;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
}

.dropdown-container li {
  padding: 0 0.5em 0 0.5em;
  margin: 0;
  line-height: 1.5em;
  font-size: 1.1em;
}


/* login form stuff */
.container {
  display: block;
  position: relative;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
}

.account-form {
  text-align: left;
}

.account-form h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
}

.account-form form span.error {
  margin-left: 12.5%;
  width: 75%;
}

.account-form form > div {
  display: inline-block;
  width: 100%;
}

.account-form form p {
  font-size 0.9em;
}

.account-form form > p {
  margin-right: 12.5%;
}

.account-form form > p,
.account-form form > div {
  margin-left: 12.5%;
}

.account-form form > div p {
  width: 75%;
  display: inline-block;
}

.account-form form > div .checklist {
  width: 12.5%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.account-form input[type="text"],
.account-form input[type="password"] {
  font-weight: 300;
  font-size: 2.2em;
}

.account-form input[type="submit"],
.account-form button {
  padding: 1.5em;
  font-weight: 800;
  font-size: 1.25em;
}

.nl-form {
  width: 100%;
  font-size: 3em;
  line-height: 1.5em;
}

ol.steps, 
.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.steps > li {
  
}

.form-field {
  display: inline-block;
  position: relative;
}

.form-field-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.form-field-dd ul li:hover {
  background: rgba(0,0,0,0.05);
}

.form-field-dd ul li:hover:active,
.form-field-dd ul li.dd-selected {
  color: #478982
}

.form-field-toggle {
  line-height: inherit;
  display: inline-block;
  cursor: pointer;
  color: #ff8518;
  border-bottom: 2px solid #ff8518;
}

.form-field-toggle:active,
.form-field-toggle:hover {
  color: #333;
  border-bottom-color: #333;
}

.form-field ul {
  position: absolute;
  visibility: hidden;
  background: #76c3bd;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  trasform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.form-field ul.small {
  line-height: initial;
  font-size: 50%;
}

.form-field ul.small li.dd-selected:before {
  line-height: 2.2;
  right: 1.5em;
}

.form-field.form-field-open {
  z-index: 10000;
}

.form-field.form-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.form-field ul li {
  color: #fff;
  position: relative;
}

.form-field-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.form-field-overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

/*
 *
 */
.form-field-dd ul li.dd-selected:before,
.nl-form input[type=submit]:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.form-field-dd ul li.dd-selected:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}


/*
 * Override annoying primefaces shit
 */
form .ui-widget {
  font-size: inherit;
}

.checklist img {
  margin-top: -1em;
  margin-left: -1em;
}

img.medium {
  max-width: 50px;
}

img.large {
  max-width: 100px;
}