/*
 * teal: #7fdbff
 * blue: #0074d9
 * green: #2ecc40
 * lime: #01ff70
 * orange: #ff8518
 * red: #ff4136
 * navy: #001f3f
 * fuchsia: #f012be
 * purple: #b10dc9
 */
@font-face {
  font-family: acknowledgement;
  src: url("#{resource['fonts/acknowledgement/Acknowledgement.otf']}");
}

@font-face {
  font-family: sansation;
  src: url("#{resource['fonts/sansation/Sansation-Bold.ttf']}");
}

body {
  margin: 0;
}

.navbar {
  font-family: acknowledgement;
  padding: 1.5em;
  font-size: 0.8em;
  background-color: #0074d9;
  color: #f9f6e5;
}

.navbar nav {
  vertical-align: middle;
}

.navbar .logo {
  min-width: 120px;
}

.navbar nav ul {
  position: relative;
  margin: 0 auto;
  padding: 0.6em;
  list-style-type: none;
}

.navbar nav ul li:last-child,
.navbar nav ul li:first-child {
  padding-left: 0;
  padding-right: 1.2em;
}

.navbar nav ul li {
  position: relative;
  margin: 0;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar nav ul li:last-child {
  float: right;
}

.navbar a {
  color: #f9f6e5;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  margin: 8px;
  height: 100%;
}

.content .offset1 {
  margin-left: 10%;
}

.content .offset2 {
  margin-left: 20%;
}

.content .offset3 {
  margin-left: 30%;
}

.content .offset4 {
  margin-left: 40%;
}

.content .offset5 {
  margin-left: 50%;
}

.content .offset6 {
  margin-left: 60%;
}

.content .offset7 {
  margin-left: 70%;
}

.content .offset8 {
  margin-left: 80%;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9 {
  display: inline-block;
  float: left;
}


.content .span1 {
  width: 10%;
}

.content .span2 {
  width: 20%;
}

.content .span3 {
  width: 30%;
}

.content .span4 {
  width: 40%;
}

.content .span5 {
  width: 50%;
}

.content .span6 {
  width: 60%;
}

.content .span7 {
  width: 70%;
}

.content .span8 {
  width: 80%;
}

.content .span9 {
  width: 90%;
}

.content .span {
  width: 100%;
}

.hidden {
  display: none;
}

h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
}

table.data-table {
  border-collapse: collapse;
  margin: 0.22em;
  border-spacing: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  vertical-align: baseline;
}

table.data-table tbody tr:hover td {
  color:#009;
  background:#d0dafd;
}

table.data-table tfoot td,table.data-table th {
  font-size: 0.95em;
  text-align: left;
  background: #b9c9fe;
  border-top: 2px solid #aabcfe;
  border-bottom: 1px solid #ffffff;
  color: #039;
  padding: 0.3em;
}

table.data-table tfoot td {
  border-bottom: 2px solid #aabcfe;
}

table.data-table td {
  vertical-align: top;
  background: #e8edff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #fff;
  color: #669;
  padding: 0.3em;
}
