/*
 * teal: #7fdbff
 * blue: #0074d9
 * green: #2ecc40
 * lime: #01ff70
 * orange: #ff8518
 * red: #ff4136
 * navy: #001f3f
 * fuchsia: #f012be
 * purple: #b10dc9
 */
@font-face {
  font-family: acknowledgement;
  src: url("#{resource['fonts/acknowledgement/Acknowledgement.otf']}");
}

@font-face {
  font-family: sansation;
  src: url("#{resource['fonts/sansation/Sansation-Bold.ttf']}");
}

@font-face {
  font-family: 'nlicons';
  src:url("#{resource['fonts/nlicons/nlicons.eot']}");
  src:url("#{resource['fonts/nlicons/nlicons.eot']}?#iefix") format("embedded-opentype"),
  	  url("#{resource['fonts/nlicons/nlicons.woff']}") format("woff"),
  	  url("#{resource['fonts/nlicons/nlicons.ttf']}") format("truetype"),
  	  url("#{resource['fonts/nlicons/nlicons.svg']}?#nlicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.container > header {
  text-align: center;
  padding: 2em;
  margin: 0 auto;
}

.container > header h1 {
  font-size: 2.625em;
  line-height: 1.3em;
  margin: 0;
  font-weight: 300;
  color: #f012be;
}

.container > header span {
  display: block;
  font-size: 60%;
  padding: 0 0 0.6em 0.1em;
  color: #b10dc9;
}

.centered {
  margin: 0 auto;
}

.navbar {
  font-family: acknowledgement;
  padding: 1.5em;
  font-size: 0.8em;
  background-color: #0074d9;
  color: #f9f6e5;
}

.navbar nav {
  vertical-align: middle;
}

.navbar .logo {
  min-width: 120px;
}

.navbar nav ul {
  position: relative;
  margin: 0 auto;
  padding: 0.6em;
  list-style-type: none;
}

.navbar nav ul li:last-child, .navbar nav ul li:first-child {
  padding-left: 0;
  padding-right: 1.2em;
}

.navbar nav ul li {
  position: relative;
  margin: 0;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar nav ul li:last-child {
  float: right;
}

.navbar a {
  color: #f9f6e5;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  margin: 8px;
  height: 100%;
}

.content .offset1 {
  margin-left: 10%;
}

.content .offset2 {
  margin-left: 20%;
}

.content .offset3 {
  margin-left: 30%;
}

.content .offset4 {
  margin-left: 40%;
}

.content .offset5 {
  margin-left: 50%;
}

.content .offset6 {
  margin-left: 60%;
}

.content .offset7 {
  margin-left: 70%;
}

.content .offset8 {
  margin-left: 80%;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9 {
  display: inline-block;
  float: left;
}

.content .span1 {
  width: 10%;
}

.content .span2 {
  width: 20%;
}

.content .span3 {
  width: 30%;
}

.content .span4 {
  width: 40%;
}

.content .span5 {
  width: 50%;
}

.content .span6 {
  width: 60%;
}

.content .span7 {
  width: 70%;
}

.content .span8 {
  width: 80%;
}

.content .span9 {
  width: 90%;
}

.content .span {
  width: 100%;
}

.hidden {
  display: none;
}

h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
}

.data-table-container {
  padding: 1em 0;
}

table.data-table {
  border-collapse: collapse;
  margin: 0.22em;
  border-spacing: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  vertical-align: baseline;
}

table.data-table tbody tr:hover td {
  color: #009;
  background: #d0dafd;
}

table.data-table tfoot td, table.data-table th {
  font-size: 0.95em;
  text-align: left;
  background: #b9c9fe;
  border-top: 2px solid #aabcfe;
  border-bottom: 1px solid #ffffff;
  color: #039;
  padding: 0.3em;
}

table.data-table tfoot td {
  border-bottom: 2px solid #aabcfe;
}

table.data-table td {
  vertical-align: top;
  background: #e8edff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #fff;
  color: #669;
  padding: 0.3em;
}

.upper-first {
  text-transform: capitalize;
}

.caret {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #000000;
}

.update-weight {
  float: right;
  padding-right: 5%;
  padding-top: 1em;
}

.update-weight .rectangle-speech div {
  display: inline-block;
}

.update-weight-button {
  margin-top: 0 !important;
  padding: 0.6em !important;
}

.rectangle-speech {
  position: relative;
  padding: 0.3em 0.5em;
  margin: auto;
  border: 0.4em solid #0074d9;
  border-radius: 1em;
}

.rectangle-speech:before {
  content: "";
  position: absolute;
  top: -1.35em;
  left: 50%;
  border-width: 0 0 1.0em 2em;
  border-style: solid;
  border-color: #0074d9 transparent;
  transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
}


/* Measurement Abbreviations */
.lbs:before {
  content: 'lbs';
}

.kg:before {
  content: 'kg';
}

.ft:before {
  content: 'ft';
}

.in:before {
  content: 'in';
}

.m:before {
  content: 'm';
}

.cm:before {
  content: 'cm';
}

.icon-small {
  width: 25px;
  height: 25px;
}

.icon-medium {
  width:50px;
  height: 50px;
}

.icon-large {
  width: 75px;
  height: 75px;
}