/*
 * teal: #7fdbff
 * blue: #0074d9
 * green: #2ecc40
 * lime: #01ff70
 * orange: #ff8518
 * red: #ff4136
 * navy: #001f3f
 * fuchsia: #f012be
 * purple: #b10dc9
 */

body {
  background: #7fdbff;
  margin: 0;
}

.navbar {
  background-color: #3d9970;
}

.navbar nav {
  text-align: center;
  vertical-align: middle;
}

.navbar .logo {
  min-width: 120px;
}

.navbar nav ul {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.navbar nav ul li {
  position: relative;
  margin: 0;
  display: inline;
  line-height: 2.6em;
}

.content {
  margin: 8px;
  height: 100%;
}


/* login form stuff */
.container {
  display: block;
  position: relative;
  width: 30%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
}

.account-form {
  text-align: left;
}

.account-form h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
}

.account-form form {
  padding: 10px 30px;
}

.account-form form p {
  margin: 0 0 5px 0;
  font-size: 0.9em;
}

.account-form label {
  display: block;
  padding: 10px 0 0;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.account-form input[type="text"],
.account-form input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 2px solid #f012be;
  background: transparent;
  font-weight: 300;
  font-size: 2.2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.account-form input[type="text"]:focus,
.account-form input[type="password"]:focus {
  border-color: #85144B;
  color: #e75854;
}

.hidden {
  display: none;
}

.account-form input[type="submit"],
.account-form button {
  display: block;
  margin-top: 2.5em;
  padding: 1.5em;
  width: 100%;
  border: none;
  background: #2ecc40;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.25em;
}

.account-form button.alt {
  background: #0074d9;
}

/* flip css */
.flip-container {
  perspective: 1000;
  -o-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
}

.flip-container.flip .flipper {
  transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.flipper-front, .flipper-back {
  backface-visiblity: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  width: 100%;
  height: 100%;
  position: absolute;
}

.flipper-back {
  transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}
