/* ===============================================================
 * Navbar CSS
 */
.navbar {
  width: 100%;
  font-size: 1.2em;
  border-bottom: 4px solid #0074d9;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar > ul,
.navbar .submenu-inner {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.875em;
}

.navbar > ul > li {
  display: inline-block;
}

.navbar > ul > li > a {
  font-weight: 700;
  padding: 1em;
  color: #999;
  display: inline-block;
}

.navbar a > span,
.navbar a > span ~ i {
  margin-left: 0.5em;
}

.navbar > ul > li > a:hover {
  color: #0074d9;
}

.navbar > ul > li.open a,
.navbar >ul > li.open > a:hover {
  color: #fff;
  background: #0074d9;
}

/* submenu */
.navbar .submenu {
  display: none;
  position: absolute;
  background: #0074d9;
  width: 100%;
  left: 0;
}

.open .submenu {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.navbar .submenu-inner>div {
  width: 33%;
  float: left;
  padding: 0 2em 0;
}

.navbar .submenu-inner:before,
.navbar .submenu-inner:after {
  content: " ";
  display: table;
}

.navbar .submenu-inner:after {
  clear: both;
}

.navbar .submenu-inner > div a {
  line-height: 2em;
}

@media screen and (max-width: 52.75em) {
  .navbar {
    font-size: 80%;
  }
}

@media screen and (max-width: 43em) {
  .navbar {
    font-size: 120%;
    border: none;
  }
  
  .navbar > ul,
  .navbar .submenu-inner {
    width: 100%;
    padding: 0;
  }
  
  .navbar .submenu-inner {
    padding: 0 2em;
    font-size: 75%;
  }
  
  .navbar > ul > li {
    display: block;
    border-bottom: 4px solid #0074d9;
  }
  
  .navbar > ul > li > a {
    display: block;
    padding: 1em 3em;
  }
  
  .navbar .submenu {
    position: relative;
  }
}

@media screen and (max-width: 36em) {
  .navbar .submenu-inner > div {
    width: 100%;
    float: none;
    padding: 0 2em;
  }
}

/* ===============================================================
 * Modal Dialog CSS
 */
.dialog,
.dialog-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dialog {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-center: center;
  justify-content: center;
  pointer-events: none;
}

.dialog.sticky-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.dialog.sticky-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.dialog-overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
}

.dialog-open .dialog-overlay {
  opacity: 1;
  pointer-events: auto;
}

.dialog-content {
  width: 50%;
  max-width: 560px;
  min-width: 290px;
  background: #fff;
  padding: 2em 4em 4em;
  position: relative;
  z-index: 5;
  opacity: 0;
  overflow: hidden;
}

.dialog-open .dialog-content {
  pointer-events: auto;
}

.dialog-overlay {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.dialog.dialog-open .dialog-content,
.dialog.dialog-close .dialog-content {
  opacity: 1;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dialog.dialog-open .dialog-content {
  -webkit-animation-name: anim-open-dialog;
  animation-name: anim-open-dialog;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.dialog.dialog-close .dialog-content {
  -webkit-animation-name: anim-close-dialog;
  animation-name: anim-close-dialog;
}

@-webkit-keyframes anim-open-dialog {
  0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-open-dialog {
  0% { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes anim-close-dialog {
  0% { -webkit-transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(0, -100%, 0); }
}

@keyframes anim-close-dialog {
  0% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
}

/* inner element animations */
@-webkit-keyframes anim-elem {
  0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem {
  0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); transform: translate3d(0, -100px, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@media screen and (max-device-height: 800px) {
  .dialog-content {
    font-size: 60%;
  }
}

/* ===============================================================
 * Single Line form css
 */
button,
input[type="submit"]:hover,
input[type="button"]:hover {
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  padding: 0.3em;
  border: 2px solid #f012be;
  background: transparent;
  font-weight: 300;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input[type="submit"],
input[type="button"],
button {
  display: block;
  margin-top: 2.5em;
  padding: 1.0em;
  border: none;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

input[type="submit"] {
  background: #2ecc40;
}

input[type="submit"]:hover {
  background: #01ff70;
}

button,
input[type="button"] {
  background: #0074d9;
}

button:hover,
button.previous:hover {
  background: #3390E1;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
  border-color: #85144B;
  color: #e75854;
}

/* ===============================================================
 * Single Line form css
 */
form.one-line,
form.one-line input,
form.one-line table,
form.one-line button,
form.one-line label {
  width: 100%;
  display: block;
}

form.one-line label {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

/* ===============================================================
 * Login / Sign Up form css
 */
.login-signup-form .checklist {
  display: none;
}

.login-signup-form {
  font-size: 2.2em;
}

.login-signup-form h2 {
  margin: 0;
  font-weight: 300;
  font-size: 150%;
  text-align: center;
  padding-bottom: 0.2em;
}

.login-signup-form input[type="submit"],
.login-signup-form button {
  font-size: 50%;
  font-weight: 800;
}

.login-signup-form label {
  font-size: 50%;
}

.login-signup-form input[type="text"],
.login-signup-form input[type="password"] {
  font-weight: 300;
  font-size: 100%;
}

.login-signup-form #login-form-content {
  display: block;
}

.login-signup-form #signup-form-content {
  display: none;
}

.login-signup-form.signup-visible #login-form-content {
  display: none;
}

.login-signup-form.signup-visible #signup-form-content {
  display: block;
}

.login-signup-form .form-row {
  display: block;
}

.login-signup-form .form-row div > span.fa {
  position: absolute;
  right: 5px;
  font-size: 1.8em;
}

.login-signup-form .error {
  font-style: italic;
  font-size: 80%;
  color: #ff4136;
}



.icon-red {
  color: #ff4136;
}

.icon-green {
  color: #2ecc40;
}
